<!DOCTYPE html>
<html>
<body>
  <h2>Welcome to the Sports Manaagemnet Application</h2>
  <p>Manage your workout schedule as a coach and request workout times as a player. Track your performance
    and see where you rank amongst your teammates and friends. Compete with one another to help improve
    your own personal performance. "It takes an entire community to bring out the best in you."
    </p>
    <h1>Start your community today!</h1>
    <form>
      Username:<br>
      <input type="text" name="USERNAME"><br>
      Email:<br>
      <input type="text" name="EMAIL"><br>
      PhoneNumber:<br>
      <input type="text" name="PHONENUM"><br>
      Password:<br>
      <input type="password" name="PASSWORD"><br>
      Password Confirmation:<br>
      <input type="password" name="PASSWORD2"><br>
    </form>
  <a href="PLACE PASS_RECOERY LINK HERE">Forgot Password</a>
  <button type="button" onclick="Submit form">Submit</button>

</body>
</html>
