<!DOCTYPE html>
<html>
<body>
  <h2>Welcome to the Sports Manaagemnet Application</h2>
  <p>This is your one stop destination to manage your basketball athletic program.
    Wheter it is a team or a training group, this application will keep track of your
    workout performance as an individual as well as allow you to rank yourself amongst your
    peers if you are a player and keep your operations organized if you are a coach/trainer.
    </p>
    <form>
      Username:<br>
      <input type="text" name="USERNAME"><br>
      Password:<br>
      <input type="password" name="PASSWORD">
    </form>
  <a href="PLACE PASS_RECOERY LINK HERE">Forgot Password</a> <a href="PLACE SIGN UP LINK HERE">Sign Up</a>
</body>
</html>
