<!DOCTYPE html>
<html>
<body>
  <h2>Welcome to the Sports Manaagemnet Application</h2>
  <p>Manage the wokouts your players engage in. Get them better with the drils you come up
    with. Enter your workout library here."
    </p>
    <h1>Time to get better!</h1>
    <form>
      workout:<br>
      <input type="text" name="Workout"><br>
      WorkoutDescrip:<br>
      <input type="text" name="Workout Description"><br>
    </form>
  <button type="button" onclick="Submit form">Submit</button>

</body>
</html>
